/* noto-sans-jp-regular - japanese_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/noto-sans-jp-v56-japanese_latin/noto-sans-jp-v56-japanese_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-sans-jp-700 - japanese_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/noto-sans-jp-v56-japanese_latin/noto-sans-jp-v56-japanese_latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* hina-mincho-regular - japanese_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Hina Mincho";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/hina-mincho-v16-japanese_latin/hina-mincho-v16-japanese_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sedgwick-ave-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sedgwick Ave Display";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/sedgwick-ave-display-v23-latin/sedgwick-ave-display-v23-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #8e050f;
  --secondary-color: #303030;
  --gray-color: #c4c3c3;
  --white-color: #fff;
  --font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
  background-color: #1a1a1a;
  color: var(--gray-color);
}
/* ---- Navbar ---- */
.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #121212;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  text-align: center;
  height: 4rem;

  li a {
    transition: color 0.3s ease-in-out;
  }
  li a:hover {
    color: var(--primary-color);
  }
}
.navList a {
  text-decoration: none;
  color: var(--white-color);
}
/* ---- Hero Section ---- */
.heroSection {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("assets/ramen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100vh - 4rem);
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Sedgwick Ave Display", cursive;
  color: var(--white-color);
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: bold;
  .title {
    line-height: clamp(3rem, 6vw, 8rem);
  }
  .subtitle {
    font-family: "Hina Mincho", serif;
    font-size: clamp(1rem, 2vw, 3rem);
    color: var(--gray-color);
  }
}
.heroAction {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
a.button {
  display: flex;
  text-decoration: none;
  color: var(--white-color);
  font-weight: normal;
  background-color: var(--primary-color);
  border: solid 2px var(--primary-color);
  padding: 1rem 1.5rem;
  font-size: clamp(1rem, 1vw, 1.1rem);
  border-radius: 12px;
  font-family: var(--font-family);
  transition: all 0.2s ease-out;
  width: fit-content;
}
.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}
/* ---- About Section ----*/
.underline {
  text-decoration: underline var(--primary-color) 0.1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--white-color);
}
.aboutSection {
  display: grid;
  gap: 2rem;
  .heading {
    margin: 2rem 0 1rem 0;
    font-size: clamp(2rem, 2.5vw, 3rem);
  }
  .aboutText {
    font-size: 0.9rem;
    color: var(--gray-color);
  }
  .kodawariText {
    color: var(--primary-color);
    font-weight: bold;
  }
  .aboutAction {
    margin-top: 2rem;
    justify-content: left;
  }
}
.aboutImages {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.aboutImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutImagesSmall {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  object-fit: cover;
}
.aboutImageLarge {
  min-width: 50%;
}
.container {
  max-width: 85%;
  margin: 0 auto;
}
/* ---- opening hours ----*/
.backgroundContainer {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("assets/open.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 4rem;
  text-align: center;
  padding-bottom: 2rem;
}
.openHeader {
  padding-top: 2rem;
  font-size: 1em;
}
.weekdays {
  color: var(--gray-color);
  width: 10rem;
  display: flex;
  justify-content: space-between;
}
.hours {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.times {
  color: var(--white-color);
}
/* ---- contact ----*/
.contactImage {
  width: 90%;
  height: auto;
  object-fit: cover;
  align-self: center;
}
.contactSection {
  display: grid;
  gap: 3rem;
  padding: 4rem 0;
}
.contactInfo {
  text-align: left;
  align-self: center;
}
.actionButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contactText {
  padding-bottom: 2rem;
  line-height: 2rem;
  font-size: 1.1rem;
  color: var(--gray-color);
}
a.button.contactinvertedAction {
  background-color: transparent;
  color: var(--primary-color);
}
a.button.contactinvertedAction:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.contactHeader {
  padding-bottom: 0.4rem;
  font-size: clamp(2rem, 2.5vw, 3rem);
}

/* ---- Footer ----*/
.footer {
  background-color: #121212;
  text-align: center;
  display: grid;
  gap: 2rem;
  min-height: 20vh;
  border-top: 0.1rem solid var(--primary-color);
}
.footerLinks {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  align-self: center;
  .footerlink {
    text-decoration: none;
    color: #c4c3c3;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    position: relative;
  }
  .footerlink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out;
  }
  .footerlink:hover::after {
    width: 100%;
  }
}

/* ---- Responsive Designs ----*/
@media only screen and (min-width: 600px) {
  .navbar ul {
    gap: 2rem;
    font-size: 1rem;
  }
  .aboutSection {
    .aboutText {
      font-size: 1rem;
    }
  }
  .openHeader {
    font-size: 1.5em;
  }
  .weekdays {
    width: 15rem;
  }
  .aboutSection {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    align-items: center;
  }
  .contactSection {
    grid-template-columns: 2fr 1fr;
  }
  .footerLinks {
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    justify-content: center;
    gap: 3rem;

    a.footerlink {
      font-size: 1rem;
    }
  }
  .copyright {
    a.copyrightLink {
      text-decoration: none;
      color: var(--gray-color);
    }
  }
}
@media only screen and (min-width: 1000px) {
  .navbar ul {
    gap: 4rem;
  }
  .aboutSection {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    align-items: center;
  }
  .aboutImages,
  .aboutImagesSmall {
    gap: 1rem;
  }
  .weekdays {
    width: 24rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .openHeader {
    font-size: 2.5em;
  }
  .contactSection {
    grid-template-columns: 2fr 1fr;
  }
  .actionButtons {
    flex-direction: row;
    gap: 1rem;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
