@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

.Platzhalter {
  height: 300vh;
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #e5381a;
  --secondary-color: #5cb85c;
  --font-family: "Noto Sans JP", sans-serif;
}
body {
  font-family: var(--font-family);
  background-color: #1a1a1a;
  color: #c4c3c3;
}
/* ---- Navbar ---- */
.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: #1a1a1a;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  text-align: center;
  height: 5rem;

  li a {
    transition: color 0.3s ease-in-out;
  }
  li a:hover {
    color: var(--primary-color);
  }
}
.navList a {
  text-decoration: none;
  color: #fff;
}
/* ---- Hero Section ---- */
.heroSection {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("/assets/ramen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  width: 100%;
  height: calc(100vh - 5rem);
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Sedgwick Ave Display", cursive;
  color: #fff;
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: bold;

  .title {
    line-height: clamp(3rem, 6vw, 8rem);
  }
  .subtitle {
    font-family: "Hina Mincho", serif;
    font-size: clamp(1rem, 2vw, 3rem);
    color: #c4c3c3;
  }
}
.heroAction {
  margin-top: 2rem;
}
a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  p {
    color: white;
    font-weight: normal;
    background-color: var(--primary-color);
    border: solid 2px var(--primary-color);
    padding: 1rem 2rem;
    font-size: clamp(1rem, 1vw, 2rem);
    border-radius: 12px;
    font-family: var(--font-family);
    transition: all 0.2s ease-out;
  }
}
.button p:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/* ---- About Section ----*/
.aboutSection {
  display: grid;
  gap: 2rem;
  .heading {
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    text-decoration: underline var(--primary-color) 0.1rem;
    font-size: clamp(1.8rem, 2vw, 2.5rem);
    color: #fff;
  }
  .aboutText {
    font-size: 0.9rem;
    color: #c4c3c3;
  }
  .aboutAction {
    margin-top: 2rem;
    justify-content: left;
  }
}
.aboutImages {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.aboutImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutImagesSmall {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  object-fit: cover;
}
.aboutImageLarge {
  min-width: 50%;
}
.container {
  max-width: 85%;
  margin: 0 auto;
}

/* ---- Responsive Designs ----*/
@media only screen and (min-width: 600px) {
  .navbar ul {
    gap: 2rem;
    font-size: 1rem;
  }
  .aboutSection {
    .aboutText {
      font-size: 1rem;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .navbar ul {
    gap: 4rem;
  }
  .aboutSection {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    align-items: center;
  }
  .aboutImages, .aboutImagesSmall {
    gap: 1rem;
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
